*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #003973;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.show_btn{
    padding: .8rem 1.8rem;
    border: none;
    background: transparent;
    background-color: #2193b0;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: .4rem;
    cursor: pointer;
    font-size: .7rem;
    color: #fff;
    transition:all .5s linear;
}
.show_btn:hover{
    background-color: #6dd5ed;
    color: #003973;
    box-shadow: 1px 1px 3px #2193b0,-1px -1px 2px #2193b0;
}
.popUp_box{
    width: 100%;
    height: 100vh;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    transform: scale(.1);
    visibility: hidden;
    transition: all .5s ease-in;
    z-index: 2;
}
.popUp_box_show{
    transform: scale(1);
    visibility: visible;
}
.popUp_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 2rem 2rem;
    background-color: #fff;
    border-radius: 1rem;
}
.popUp_content .check_img{
    width: 50%;
}
.popUp_content h1{
    font-weight: 800;
    color: #0F2027;
}
.popUp_content p{
    font-size: .9rem;
    color: #203A43;
}
.popUp_content .ok_btn{
    width: 100%;
    padding: .3rem 1.2rem;
    background: transparent;
    border: none;
    background-color: #96c93d;
    border-radius: .2rem;
    margin-top: 1rem;
    color: #fff;
    font-size: .9rem;
    cursor: pointer;
    transition: .5s;
}
.popUp_content .ok_btn:hover{
    background-color: #8fbd40;
}


